body {
  background-color: cadetblue;
  align-content: center;
}

.header-div {
  max-width: 800px;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 12px;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-top: 0px;
}

img {
  display: block;
  border-radius: 8px;
}

main {
  max-width: 800px;
  background-color: rgb(211, 229, 235);
  padding: 12px;
  border-radius: 12px;
}

.margins {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.foot {
  text-align: center;
}
